# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Directory created by dartdoc
doc/api/

.buildlog
.DS_Store
.idea
.pub/
packages
.sass-cache
lib/sass/*/*.css
.bs
*.css.map
example/*/*.css
example/**/*.css
*.applescript
syncsite

site/downloads/
web/downloads
